html, body { height: 100%; }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Language flags */
.flag { width: 16px; height: 11px; background:url(../img/flags.png) no-repeat; }
.flag.flag-de {background-position: -16px 0; }
.flag.flag-fr {background-position: 0 -11px; }
.flag.flag-us {background-position: -16px -11px; }

.inforepo { margin-bottom: 0px; }

.datepick { margin: auto auto 0; text-align: center; width: 50%; }

.center { display: block;  margin: auto auto 0; text-align: center; }

.alert-dismissable .close { color: #800000; margin-left: 10px; }

.close { opacity: 0.8; }

.urlinput { width: 50%; margin: auto auto 0; }

.errormessage { width: 50%; margin: auto auto 0; }

.clear { clear:both; }

/* Footer */
/* Set the fixed height of the footer here */
#push, #footer { height: 60px; }
#footer { background-color: #eee; text-align: center; }

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
  		margin-left: -20px;
  		margin-right: -20px;
  		padding-left: 20px;
  		padding-right: 20px;
  		text-align: center;
	}
}

/* Title */
#title, img.title{
	margin: 150px auto 0;
	display: block;
}
#title:hover, img.title:hover{
	cursor: hand;
	cursor: pointer;
}

/* Color legend */

.color-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.color-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.color-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.color-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.color-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.color-legend a { color: #777; }

/* Plugin to make the rendered repository scrollable */
#overscroll { width: 768px; height: 512px; overflow: hidden; position: relative; }
#overscroll ul { width: 768px; margin:0; padding: 0; }
#overscroll li { display: block; float: left; background-color: #FFF; }
#overscroll li.alt { background-color: #C00; }
#overscroll li.no-drag { background-color: #000; color: #FFF; }
#overscroll li.last { clear: both; visibility: hidden; height: 0; padding: 0; }

div[class="tooltip-inner"] { text-align: left; width: 200px; }

.doc-header { border-bottom:solid 1px; }

.custom-jumbotron{ background-color:#A1C782; }

.borderimage { border-width:5px; border-style: solid; border-color: black; }
style .customdate { width : 50%; float: left; }

.customBlock{ background-color:#ffffff; width: 5px; height: 5px; float:left; }

.centerButton{ text-align:center; }

.wide-modal{ width:900px; }

/* Title */
.title{
	margin: 150px auto 0;
	display: block;
}
