html, body {
  	height:                100%;
<<<<<<< HEAD
//  	background-image:      url('../img/bg.jpg');
=======
 	background-image:      url('../img/bg.jpg');
>>>>>>> ead3b95df6bab43eef88216aa91f216244dd53a9
	background-attachment: scroll;
	background-repeat:     repeat;
}

/* Wrapper for page content to push down footer */
#wrap {
  	min-height: 90%;
  	height:     auto !important;
  	height:     100%;
  	width:      75%;
  	/* Negative indent footer by it's height */
  	margin:     auto auto -30px;
}

.credit {
	height: 20px;
	text-align: center;
}

.title {
	margin-top: 10px;
}
