html, body {
  height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Footer */
/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
}
#footer {
  background-color: #eee;
  text-align: center;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
  		margin-left: -20px;
  		margin-right: -20px;
  		padding-left: 20px;
  		padding-right: 20px;
  		text-align: center;
	}
}

/* Title */
.title {
	margin-top: 10px;
}

/* Color legend */
.color-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.color-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.color-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.color-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.color-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.color-legend a {
    color: #777;
}

#overscroll { width: 512px; height: 512px; overflow: hidden; position: relative; }
#overscroll ul { width: 2500px; margin:0; padding: 0; }
#overscroll li { display: block; float: left; width: 100px; height: 100px; background-color: #FFF; }
#overscroll li.alt { background-color: #C00; }
#overscroll li.no-drag { background-color: #000; color: #FFF; }
#overscroll li.last { clear: both; visibility: hidden; height: 0; padding: 0; }

div[class="tooltip-inner"] {
    text-align: left;
    width: 200px;
}