body {
	margin: 2em 0;
}

/* Rendered blocks */
.customBlock{
	background-color:#ffffff;
	height: 20px;
	display:inline-block;
	white-space: nowrap;
	outline: 1px solid rgba(0, 0, 0, 0.15);
	outline-offset: -1px;
	transition: width 1s;
}

.renderMetric .customBlock:hover {
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3), 0px 0px 2px 2px rgba(102, 175, 233, 0.6);
	cursor: pointer;
	outline-color: rgba(102, 175, 233, 0.6);
	outline-offset: 0px;
	position: relative;
	z-index: 1050;
}

/* Rendered blocks in the legend */
.list-inline .customBlock {
	width: 20px;
}

.list-inline .huddle-branch-usage {
	padding-right: 0 !important;
}

.list-inline .huddle-branch-usage ~ .huddle-branch-usage {
	padding-left: 0 !important;
}

.list-inline .huddle-branch-usage:last-of-type {
	padding-right: 5px !important;
}

/* to align buttons with the input field TODO: don't use fixed height! */
.formbtn {height:34px;}

.renderMetric .tooltip-inner {
	background-color: WhiteSmoke;
	border: solid 1px black;
	color: black;
	max-width: none;
}

.renderMetric .tooltip-inner p {
	margin: 0;
}

.renderMetric .tooltip-inner p.commitMessage {
	font-size: 14px;
}

.modal-body.commitDetails a {
	display: block;
}

.container-padding-lr {
	padding-left: 30px;
	padding-right: 30px;
}

slider {
	margin: 0 5px !important;
}

slider span.bubble {
	top: 20px !important;
}

.repo-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.repo-label label {
	display: inline;
}

form#repogramsAdder {
	margin-top: 1em;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #CCC;
}
