<html ng-app="repogramsModule">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- include async -->
    <script src="bower_components/async/lib/async.js"></script>
    <!-- include underscore -->
    <script src="bower_components/underscore/underscore-min.js"></script>
    <!-- include jQuery for convenience -->
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- include Angular.js -->
    <script type="text/javascript" src="/bower_components/angularjs/angular.js"></script>
    <!-- required for popover -->
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- 'cause it's fancy -->
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- to sanitize html -->
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- for loading animation -->
    <script type="text/javascript" src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/src/loading-bar.css">
    <!-- for commit language metric -->
    <script type="text/javascript" src="/js/jaro-winkler_distance.js"></script>
    <!-- use bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap-theme.min.css">
    <!-- use fontawesome -->
    <link rel="stylesheet" type="text/css" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <!-- include our own style sheets -->
    <link rel="stylesheet" type="text/css" href="css/metrics.css">
    <!-- include metrics code -->
    <script type="text/javascript" src="/bower_components/clj-fuzzy/src-js/clj-fuzzy.js"></script>
    <!-- include the app controllers -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/metrics/filenames.js"></script>
    <script type="text/javascript" src="/js/metrics/mostEditFile.js"></script>
    <script type="text/javascript" src="/js/metrics/commitLangCompl.js"></script>
    <script type="text/javascript" src="/js/metrics/commitMsgLength.js"></script>
    <script type="text/javascript" src="/js/metrics/commitModul.js"></script>
    <script type="text/javascript" src="/js/metrics/driver.js"></script>
    <!-- include slider -->
    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/bower_components/angular-slider/build/angular-slider.min.js"></script>
    <link rel="stylesheet" href="/bower_components/angular-slider/slider.css"/>
    
    <title>RepoGrams</title>
  </head>
  <body>
    <div class="container-fluid container-padding-lr">
      <div class="row">
        <!-- Logo -->
        <div class="col-md-12 col-lg-2 col-lg-push-10 center-block">
          <img class="center-block img-responsive logo" src="img/title.png" title="RepoGrams">
        </div>

        <!-- First block for the selection box and zoom slider -->
        <div class="col-md-12 col-lg-7 col-lg-pull-2">
          <div class="panel panel-default form-inline">
            <div class="panel-heading">Settings</div>
            <div class="panel-body">
              <!-- Dropdown Menu for Metric Selection -->
              <div class="form-group col-md-4 col-sm-12 configBlock" ng-controller="RepogramsConfig">
                <button id="metricSelect" class="form-control pull-right" ng-click="switchMetric()">Switch…</button>
                <label for="metricSelect">Metric (block color):</label> <i class="fa fa-{{currentMetric.value.icon}}"></i> <em>{{currentMetric.value.label}}</em>
                <p class="text-muted" ng-bind-html="currentMetric.value.description"></p>
              </div>

              <div class="form-group col-md-4 col-sm-12 configBlock" ng-controller="RepogramsConfig">
                <button id="blockLengthSelect" class="form-control pull-right" ng-click="switchBlen()">Switch…</button>
                <label for="blockLengthSelect">Block length:</label> <i class="fa fa-{{currentBlen.value.icon}}"></i> <em>{{currentBlen.value.label}}</em>
                <p class="text-muted" ng-bind-html="currentBlen.value.description"></p>
              </div>

              <!-- Zoom Slider -->
              <div class="form-group col-md-4 col-sm-12 configBlock" ng-controller="RepogramsConfig">
                <label for="zoomSlider">Zoom:</label> <em>{{translateZoom(currentZoom.num)}}</em>
                <slider id="zoomSlider" ng-model="currentZoom.num" ng-change="changeZoom()" floor="1" ceiling="100" step="1" stickiness="3" translate-fn="translateZoom">
                </slider>
                <!-- https://github.com/Venturocket/angular-slider with CCS provided by voInt https://github.com/Venturocket/angular-slider/issues/51 -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-3 col-lg-pull-2">
          <ng-legend></ng-legend>
        </div>
      </div>

      <!-- Main Block with the Repo name and Metric render -->
      <div class="row">
        <div ng-controller="RepogramsRender">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <span class="col-xs-12 col-lg-2">Repositories</span>
                  <span class="col-xs-6 col-lg-5 text-muted label-earliest-commits">Earliest commits</span>
                  <span class="col-xs-6 col-lg-5 text-muted text-right label-latest-commits">Latest commits</span>
                </div>
              </div>
              <div class="panel-body">
                <div class="repo col-md-12" ng-repeat="repo in repos">
                  <div class="row">
                    <div class="col-lg-2 repo-label">
                      <label for="{{'metricBox'+$index}}">
                        <button type="button" class="btn btn-sm" ng-click="removeRepo($index)"><span class="glyphicon glyphicon-remove"></span></button>
                        <span title="{{repo.name}}">{{repo.name}}</span>
                      </label> 
                    </div>
                    <div class="col-lg-10" id="{{'metricBox'+$index}}">
                      <rg-render-metric repoid=" {{'repoDiv'+$index}}"></rg-render-metric>
                    </div>
                  </div>
                </div>
                <div class="repo col-md-12">
                  <div class="row">
                    <div class="col-lg-2 repo-label">
                      <label for="scroll-slider">
                        <span title="Scroll all Repos">Scroll all Repos</span>
                      </label> 
                    </div>
                    <div class="col-lg-10" id="scroll-slider2" ng-controller="RepogramsConfig">
                      <slider id="scroll-slider" ng-model="currentScrollPos.num" ng-change="changeScrollPos()" floor="0" ceiling="100" step="1" stickiness="3" translate-fn="translateScrollValues"></slider>
                    </div>
                  </div>
                </div>
                <div ng-controller="RepogramsImporter">
                  <div class="col-md-12">
                    <form id="repogramsAdder" ng-submit="importRepo()">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="GIT clone URL, e.g. https://github.com/githubtraining/hellogitworld.git" autofocus ng-model="importURL" ng-readonly="processing" ng-change="changeInput()" />
                        <div class="input-group-btn">
                          <button type="submit" class="btn btn-primary formbtn" ng-disabled="processing">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-12">
                    <alert ng-repeat="error in errors" type="danger" close="closeAlert($index)">{{error.emessage}}</alert>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- last block for import box -->
   </div>
   <footer>@@@BUILDINFO@@@</footer>
  </body>
</html>
