<html ng-app="repogramsModule">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- include async -->
    <script src="bower_components/async/lib/async.js"></script>
    <!-- include underscore -->
    <script src="bower_components/underscore/underscore-min.js"></script>
    <!-- include Angular.js -->
    <script type="text/javascript" src="/bower_components/angularjs/angular.js"></script>
    <!-- required for popover -->
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- 'cause it's fancy -->
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- for loading animation -->
    <script type="text/javascript" src="/bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/src/loading-bar.css">
    <!-- for commit language metric -->
    <script type="text/javascript" src="/js/jaro-winkler_distance.js"></script>
    <!-- use bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css-only/css/bootstrap-theme.min.css">
    <!-- include our own style sheets -->
    <link rel="stylesheet" type="text/css" href="css/metrics.css">
    <!-- include metrics code -->
    <script type="text/javascript" src="/bower_components/clj-fuzzy/src-js/clj-fuzzy.js"></script>
    <!-- include the app controllers -->
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/metrics/filenames.json"></script>
    <script type="text/javascript" src="/js/metrics/mostEditFile.js"></script>
    <script type="text/javascript" src="/js/metrics/commitLangCompl.js"></script>
    <script type="text/javascript" src="/js/metrics/commitMsgLength.js"></script>
    <script type="text/javascript" src="/js/metrics/commitModul.js"></script>
    <script type="text/javascript" src="/js/metrics/driver.js"></script>
    <!-- include slider -->
    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/bower_components/angular-slider/build/angular-slider.min.js"></script>
    <link rel="stylesheet" href="/bower_components/angular-slider/slider.css"/>
    
    <title>RepoGrams</title>
  </head>
  <body>
    <div class="container-fluid container-padding-lr">
      <div class="row">
        <!-- First block for the selection box and zoom slider -->
        <div class="col-md-12 col-lg-9">
          <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
            <div class="panel-body">
              <!-- Logo -->
              <img class="col-md-2 center-block" src="img/title.png" title="Repograms"></img>
              <div class="form-group col-md-4" class="configBlock" ng-controller="RepogramsConfig">
                <!-- Dropdown Menu for Metric Selection -->
                <label for="metricSelect">Metric:</label>
                <select id="metricSelect" class="form-control" ng-model="currentMetric" ng-change="selectAction()"
                  ng-options="metric.label for metric in metrics">
                </select> 
              </div>
              <div class="form-group col-md-3" class="configBlock" ng-controller="RepogramsConfig">
                <!-- Zoom Slider -->
                <label for="zoomSlider">Zoom:</label>
                <slider id="zoomSlider" ng-model="currentZoom.num" ng-change="changeZoom()" floor="1" ceiling="20" step="1" stickiness="3">
                </slider>
                <!-- https://github.com/Venturocket/angular-slider with CCS provided by voInt https://github.com/Venturocket/angular-slider/issues/51 -->
              </div>
              
              <div class="form-group col-md-3" class="configBlock" ng-controller="RepogramsConfig">
                <label for="blockLengthSelect">Block length:</label>
                <select id="blockLengthSelect" class="form-control" ng-model="currentBlen" ng-change="selectBlenAction()"
                  ng-options="blen.label for blen in blenMods">
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-3">
          <ng-legend></ng-legend>
        </div>
      </div>

      <!-- Main Block with the Repo name and Metric render -->
      <div class="row">
        <div ng-controller="RepogramsRender">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">Repositories</div>
              <div class="panel-body">
                <div class="repo col-md-12" ng-repeat="repo in repos">
                  <div class="row">
                    <div class="col-lg-2 repo-label">
                      <label for="{{'metricBox'+$index}}">
                        <button type="button" class="btn btn-sm" ng-click="removeRepo($index)"><span class="glyphicon glyphicon-remove"></span></button>
                        <span title="{{repo.name}}">{{repo.name}}</span>
                      </label> 
                    </div>
                    <div class="col-lg-10" id="{{'metricBox'+$index}}">
                      <ng-rendermetric></ng-rendermetric>
                    </div>
                  </div>
                </div>
                <div ng-controller="RepogramsImporter">
                  <div class="col-md-12">
                    <form id="repogramsAdder" ng-submit="importRepo()">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="GIT clone URL… (http(s) only)" ng-model="importURL" ng-readonly="processing" ng-change="changeInput()" />
                        <div class="input-group-btn">
                          <button type="submit" class="btn btn-primary formbtn" ng-disabled="processing">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-12">
                    <alert ng-repeat="error in errors" type="danger" close="closeAlert($index)">{{error.emessage}}</alert>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- last block for import box -->
   </div>
    </div>
    </script>
  </body>
</html>
