<form>
  <div class="modal-header">
    <h3 class="modal-title">Select new block length</h3>
  </div>

  <div class="modal-body block-length-selector">
    <div class="form-group">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th class="text-center" ng-repeat="blockLengthModeId in blockLengthModesOrder">
            <i class="fa fa-{{allBlockLengthModes[blockLengthModeId].icon}}"></i> {{allBlockLengthModes[blockLengthModeId].label}}
          </th>
        </tr>
        </thead>
        <tbody ng-mouseleave="mouseLeave()">
        <tr ng-repeat="normalizationModeId in normalizationModesOrder">
          <th ng-mouseenter="mouseLeave()">
            <i class="fa fa-{{allNormalizationModes[normalizationModeId].icon}}"></i> {{allNormalizationModes[normalizationModeId].label}}
          </th>
          <td ng-repeat="blockLengthModeId in blockLengthModesOrder" ng-class="{'current': blockLengthModeId == selectedBlockLengthModeId && normalizationModeId == selectedNormalizationModeId}">
            <label ng-mouseenter="mouseEnter(blockLengthModeId, normalizationModeId)">
              <input type="radio" name="blockLengthMode" ng-checked="blockLengthModeId == selectedBlockLengthModeId && normalizationModeId == selectedNormalizationModeId" ng-click="swap(blockLengthModeId, normalizationModeId)">
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group alert" ng-class="{'alert-info': !isNewMode, 'alert-success': isNewMode}">
      <h4 ng-if="isNewMode">This mode:</h4>
      <h4 ng-if="!isNewMode">Currently active mode:</h4>
      <p><i class="fa fa-{{activeBlockLengthMode.icon}}"></i> <strong>{{activeBlockLengthMode.label}}</strong>: {{activeBlockLengthMode.description}}</p>
      <p><i class="fa fa-{{activeNormalizationMode.icon}}"></i> <strong>{{activeNormalizationMode.label}}</strong>: {{activeNormalizationMode.description}}</p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()">Cancel</button>
  </div>
</form>