<form>
  <div class="modal-header">
    <h3 class="modal-title">Select new block length</h3>
  </div>

  <div class="modal-body block-length-selector">
    <div class="form-group">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th ng-repeat="normalizationModeId in normalizationModesOrder">
            <i class="fa fa-{{allNormalizationModes[normalizationModeId].icon}}"></i> {{allNormalizationModes[normalizationModeId].label}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="blockLengthModeId in blockLengthModesOrder">
          <th>
            <i class="fa fa-{{allBlockLengthModes[blockLengthModeId].icon}}"></i> {{allBlockLengthModes[blockLengthModeId].label}}
          </th>
          <td ng-repeat="normalizationModeId in normalizationModesOrder">
            <label ng-mouseenter="activate(allBlockLengthModes[blockLengthModeId], allNormalizationModes[normalizationModeId])" ng-mouseleave="deactivate()">
              <input type="radio" name="blockLengthMode" ng-checked="blockLengthModeId == selectedBlockLengthModeId && normalizationModeId == selectedNormalizationModeId" ng-click="swap(blockLengthModeId, normalizationModeId)">
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group alert" ng-class="{'alert-warning': isHovering, 'alert-info': !isHovering}">
      <p ng-if="isHovering">This mode:</p>
      <p ng-if="!isHovering">Currently active mode:</p>
      <p><i class="fa fa-{{activeBlockLengthMode.icon}}"></i> <strong>{{activeBlockLengthMode.label}}</strong>: {{activeBlockLengthMode.description}}</p>
      <p><i class="fa fa-{{activeNormalizationMode.icon}}"></i> <strong>{{activeNormalizationMode.label}}</strong>: {{activeNormalizationMode.description}}</p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()">Cancel</button>
  </div>
</form>