body {
    margin: 2em 0;
}

img.logo {
    margin-bottom: 1em;
}

h3.metric-title {
    display: inline;
    margin-right: 4em;
}

h3.metric-title i.fa-question-circle {
    color: #ccccff;
    cursor: help;
}

div.metric-description {
    text-align: left;
}

div.metric-long-description {
    text-align: left;
    margin-top: 1em;
    color: #ccccff;
}

div.metrics-display div.alert-info {
    margin: 1em 0;
}

div.metrics-display div.alert-info a {
    cursor: pointer;
}

.legend {
    display: inline;
    float: right;
}

/* Rendered blocks */
.commit-block {
    background-color: #ffffff;
    display: inline-block;
    height: 20px;
    width: 5px;
    white-space: nowrap;
    outline: 1px solid rgba(0, 0, 0, 0.15);
    outline-offset: -1px;
    transition: width 1s;
}

.metrics-repo-container {
    margin-bottom: 2em;
}

.render-metric {
    margin-bottom: 3px;
}

.render-metric .commit-block.hover {
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.3), 0 0 2px 2px rgba(102, 175, 233, 0.6);
    cursor: pointer;
    outline-color: rgba(102, 175, 233, 0.6);
    outline-offset: 0;
    position: relative;
    z-index: 1050;
}

/* Rendered blocks in the legend */
.list-inline .commit-block {
    width: 20px;
}

.list-inline .branchUsageRainbow {
    display: inline-block;
    margin-left: 75px;
    width: 60px;
}

.list-inline .branchUsageRainbow .commit-block {
    width: 16.66%;
}

.list-inline .branchUsageRainbow .commit-block:nth-child(1) {
    background-color: #ffff00;
}

.list-inline .branchUsageRainbow .commit-block:nth-child(2) {
    background-color: #1ce6ff;
}

.list-inline .branchUsageRainbow .commit-block:nth-child(3) {
    background-color: #ff34ff;
}

.list-inline .branchUsageRainbow .commit-block:nth-child(4) {
    background-color: #ff4a46;
}

.list-inline .branchUsageRainbow .commit-block:nth-child(5) {
    background-color: #008941;
}

.list-inline .branchUsageRainbow .commit-block:nth-child(6) {
    background-color: #006fa6;
}

.list-inline .commitAuthorRainbow {
    display: inline-block;
    width: 60px;
}

.list-inline .commitAuthorRainbow .commit-block {
    width: 16.66%;
}

.list-inline .commitAuthorRainbow .commit-block:nth-child(1) {
    background-color: #fcfd0c;
}

.list-inline .commitAuthorRainbow .commit-block:nth-child(2) {
    background-color: #fca4fa;
}

.list-inline .commitAuthorRainbow .commit-block:nth-child(3) {
    background-color: #09dafc;
}

.list-inline .commitAuthorRainbow .commit-block:nth-child(4) {
    background-color: #d86606;
}

.list-inline .commitAuthorRainbow .commit-block:nth-child(5) {
    background-color: #03883f;
}

.list-inline .commitAuthorRainbow .commit-block:nth-child(6) {
    background-color: #153cfd;
}

.render-metric-container {
    overflow: visible;
}

.render-metric > div {
    width:100%;
    overflow: visible;
    white-space: nowrap;
}

.render-metric .individual-metric {
    width:100%;
    padding: 1px;
    overflow: visible;
    white-space: nowrap;
}

.render-metric .tooltip-inner {
    background-color: WhiteSmoke;
    border: solid 1px black;
    color: black;
    max-width: none;
}

.render-metric .tooltip-inner p {
    margin: 0;
}

.render-metric .tooltip-inner p.commitMessage {
    font-size: 14px;
}

.modal-body.commitDetails a {
    display: block;
}

.container-padding-lr {
    padding-left: 30px;
    padding-right: 30px;
}

.configBlock button {
    margin-left: 4px;
}

slider {
    margin: 0 5px !important;
}

slider span.bubble {
    top: 20px !important;
}

.block-length-selector .table td {
    padding: 0;
    width: 25%;
}

.block-length-selector .table td:hover {
    background-color: #c8e5bc;
}

.block-length-selector .table td.current {
    background-color: #b9def0;
}

.block-length-selector .table td.current:hover {
    background-color: #d9edf7;
}

.block-length-selector .table label {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.block-length-selector .table label input[type="radio"] {
    margin-top: 10px;
}

.label-earliest-commits {
    padding-left: 0;
}

.repo-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-label-label {
    display: flex;
    margin-bottom: 3px;
    margin-top: 2px;
    font-weight: bold;
}

.repo-label .repo-label-actions {
    display: inline-block;
    opacity: 0.1;
    margin-right: 8px;
}

.repo-label:hover .repo-label-actions {
    opacity: 1;
}

.repo-label .repo-label-actions button {
    padding: 1px 2px 2px;
}

.repo-label .repo-label-name {
    flex: auto;
    margin-top: -1px;
    border-bottom: 1px dotted #c0c0c0;
}

.legends .repo-label .repo-label-name {
    font-weight: bold;
    padding-top: 5px;
}

.repo-collection {
    overflow: auto;
}

form#repogramsAdder {
    margin-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: #CCC;
    font-size: 11px;
    width: 100%;
}

footer .about {
    float: left;
}

footer .build-info {
    float: right;
}
